@import "../assets/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-main);
  }
}
